@page "/dictations"

<div class="container-fluid">
  <h1>Ecris en nombre le mot <span class="badge badge-secondary">@(MathHelper.IntToFr(MandatoryValue))</span> :</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <input type="number" id="result" class="form-control mb-2" @bind="GivenValue" />
      </div>
      <div class="col-sm-auto">
        <button class="btn btn-primary mb-2" @onclick="Check">Valider</button>
      </div>
    </div>

    <div id="result" class="@(GivenValue.HasValue?string.Empty:"collapse")">
      <div class="row">
        <div class="col-sm-auto">
          <div class="alert @(Result?"alert-success":"alert-warning")" role="alert">
            <p>@(Result ? "Super, c'est juste !" : $"Refais ton calcul, la réponse est {MandatoryValue} !")</p>
          </div>
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-primary mb-2" @onclick="Next">Continuer</button>
        </div>
      </div>
    </div>
  </div>
</div>
@code {
  private int MandatoryValue { get; set; }
  private int? GivenValue { get; set; }
  private bool? _result = false;

  [Parameter]
  public bool Result
  {
    get
    {
      return _result.HasValue && _result.Value;
    }
    set
    {
      _result = value;
    }
  }

  protected override void OnInitialized()
  {
    base.OnInitialized();
    Init();    
  }

  private void Init()
  {
    GivenValue = null;
    _result = null;
    MandatoryValue = new Random().Next(0, 100);    
  }

  private void Check()
  {
    _result = GivenValue.HasValue && MandatoryValue == GivenValue.Value;
  }

  private void Next()
  {
    Init();
  }
}
